@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'Myriad Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Myriad Pro Regular'), url('../fonts/myriadpro-regular.woff') format('woff');
}

body {
	background-color: #FFFFFF;
	text-align: center;
	font-family: 'Myriad Pro Regular';
	background-color: #d7d7d7;
}

#app_logo {
	background-color: #FFFFFF;
	padding: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
}

ul {
	list-style-type: none;
	padding: 0;
}

form input.show_password {
	margin: 25px 15px 25px 0px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

li.show_password {
	font-size: 20px;
}

form input {
	outline: none;
}

form input[type=text], form input[type=email], form input[type=password] {
	width: 320px;
	height: 46px;
	border: none;
}

form div, form input[type=submit] {
	width: 400px;
	height: 50px;
	margin: 5px;
}

form div {
	display: inline-block;
	padding: 2px 60px 3px 20px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: 20px 20px;
	border: 2px solid #000000;
}

form div.username {
	background-image: url(../images/imgo.jpg) !important;
}

form div.password {
	background-image: url(../images/lock.jpg) !important;
}

form div.email {
	background-image: url(../images/email.png) !important;
	background-size: 25px 20px;
}

form div.username.active {
	box-shadow: inset 0px 0px 0px 2px #021c3d;
}

form div.password.active {
	box-shadow: inset 0px 0px 0px 2px #021c3d;
}

input[type=submit], #AddApp {
	padding: 0;
	line-height: 55px;
	background-color: #031d3e;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	font-family: 'Myriad Pro Regular';
	font-size: 16px;
}

input[type=submit]:hover, #AddApp:hover {
	color: #000000;
	background-color: #FFFFFF;
}