@charset "utf-8";
/* CSS Document */

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

html, body, form, #container {height: 100%;}

body > #container {height: auto; min-height: 100%;}

#content {padding-bottom: 50px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -79px; /* negative value of footer height */
	height:78px;
	clear:both;
} 

/* CLEAR FIX*/
#content:after {content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;}
#content {display: inline-block;}
/* Hides from IE-mac \*/
* html #content { height: 1%;}
#content {display: block;}
/* End hide from IE-mac */

